<ion-content>
  <div class="container mt-3 mb-3">
    <div class="row justify-content-center">

      <div class="col-sm-12 text-center">
        <h4>Vamos começar?</h4>
        <p>
          Nos próximos passos iremos precisar de alguns dados pessoais seus para realizar o cadastro.
        </p>


      </div>

      <div class="col-sm-6">
        <img src="/assets/svg/startup-life-bro.svg" class="img-fluid" alt="...">
      </div>

    </div>

    <div class="row fixed-bottom p-3">
      <div class="col d-flex justify-content-start">
        <button type="button" class="btn btn-link text-decoration-none" (click)="skip()">Tenho conta</button>
      </div>

      <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-primary text-white" (click)="next()">Começar</button>
      </div>
    </div>

  </div>
</ion-content>
