<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Cotações</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seguradora</th>
        <th scope="col">Segurado</th>
        <th scope="col">Veiculo</th>
        <th scope="col">Nº orçamento</th>
        <th scope="col">Valor</th>
        <th scope="col">Valor Franquia Reduzida</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orcamento of orcamentos">
        <th scope="row">{{orcamento.seguradora}}</th>
        <td>{{orcamento.nome}}</td>
        <td>{{orcamento.veiculos}}</td>
        <td>{{orcamento.num_orcamento}}</td>
        <td>{{orcamento.franquia_normal}}</td>
        <td>{{orcamento.franquia_reduzida}}</td>
      </tr>
    </tbody>
  </table>

  

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    [routerLink]="['/client-app/home/quotes/choose']"
  >
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
