<ion-content>

  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col text-center">
        <h4>Bem-vindo</h4>
        <p>Vamos começar com o login?</p>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="email" autocomplete="email" required matInput placeholder="E-mail" formControlName="email">
          </mat-form-field>

          <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" required matInput placeholder="Senha" formControlName="password">
          </mat-form-field>
        </div>
      </div>


      <div class="row fixed-bottom p-3">
        <div class="col d-flex justify-content-start">
          <button type="button" class="btn btn-link text-decoration-none" [routerLink]="['/first-step']">Criar
            conta</button>
        </div>

        <div class="col d-flex justify-content-end">
          <button type="submit" class="btn btn-primary text-white">Login</button>
        </div>
      </div>

    </form>

  </div>

</ion-content>