<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/client-app/quotes/choose"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-3 mb-3">
    <!-- First step -->
    <div *ngIf="step ===1">
      <div class="row">
        <div class="col">
          <p>Informe os dados do segurado</p>
        </div>
      </div>

      <form class="pt-3" [formGroup]="segurado">
        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>CPF</mat-label>
          <input
            [brmasker]="{person: true}"
            required
            matInput
            placeholder="Cpf"
            formControlName="cpf"
            type="text"
          />
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Nome</mat-label>
          <input
            required
            matInput
            placeholder="Nome"
            formControlName="nome"
            type="text"
          />
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Data de nascimento</mat-label>
          <input
            [brmasker]="{mask: '00/00/0000', type:'num', len:10}"
            required
            matInput
            placeholder="Data de nascimento"
            formControlName="data_nascimento"
            type="text"
          />
        </mat-form-field>

        <div class="row fixed-bottom p-3 bg-white">
          <div class="col d-flex justify-content-start">
            <button
              type="button"
              class="btn btn-link text-decoration-none"
              (click)="back(step)"
            >
              Voltar
            </button>
          </div>

          <div class="col d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-primary text-white"
              (click)="next(step)"
              [disabled]="this.segurado.status == 'INVALID'"
            >
              Próximo
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- First Step -->
    <div *ngIf="step === 2">
      <div class="row">
        <div class="col">
          <p>Pode nos informar detalhes sobre o veículo?</p>
        </div>
      </div>

      <form class="pt-3" [formGroup]="firstStep">
        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>CEP de Pernoite</mat-label>
          <input
            [brmasker]="{mask: '00000-000', type:'num', len:9}"
            required
            matInput
            placeholder="00000-000"
            formControlName="cepPernoite"
            type="text"
          />
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Placa</mat-label>
          <input
            required
            matInput
            placeholder="Placa"
            formControlName="placa"
            type="text"
          />
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Chassi</mat-label>
          <input
            required
            matInput
            placeholder="Chassi"
            formControlName="chassi"
            type="text"
          />
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Ano fabricação</mat-label>
          <input
            [brmasker]="{mask: '0000', type:'num', len:4}"
            required
            matInput
            placeholder="2020"
            formControlName="anoFabricacao"
            type="text"
          />
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Ano modelo</mat-label>
          <input
            [brmasker]="{mask: '0000', type:'num', len:4}"
            required
            matInput
            placeholder="2021"
            formControlName="anoModelo"
            type="text"
          />
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Veículo</mat-label>
          <input
            required
            matInput
            placeholder="Ex. Fiat Uno 1.0"
            formControlName="veiculo"
            type="text"
          />
          <mat-hint align="start">
            <p>
              Estas informações são importantes para a realização da cotação.
            </p>
          </mat-hint>
        </mat-form-field>

        <div class="row fixed-bottom p-3 bg-white">
          <div class="col d-flex justify-content-start">
            <button
              type="button"
              class="btn btn-link text-decoration-none"
              (click)="back(step)"
            >
              Voltar
            </button>
          </div>

          <div class="col d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-primary text-white"
              (click)="next(step)"
              [disabled]="this.firstStep.status == 'INVALID'"
            >
              Próximo
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Second Step -->
    <div *ngIf="step === 3">
      <div class="row">
        <div class="col">
          <p>Você é o condutor deste veículo?</p>
        </div>
      </div>
      <form class="pt-3" [formGroup]="condutorPrincipal">
        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Segurado é o principal condutor?</mat-label>
          <mat-select formControlName="segurado">
            <mat-option value="1"> Sim </mat-option>
            <mat-option value="0"> Não </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="this.condutorPrincipal.controls.segurado.value == 0"
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Cpf</mat-label>
          <input
            [brmasker]="{person: true}"
            required
            matInput
            placeholder="00000-000"
            formControlName="cpf"
            type="text"
          />
        </mat-form-field>

        <mat-form-field
          *ngIf="this.condutorPrincipal.controls.segurado.value == 0"
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Nome</mat-label>
          <input
            required
            matInput
            placeholder="Nome"
            formControlName="nome"
            type="text"
          />
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
          *ngIf="this.condutorPrincipal.controls.segurado.value == 0"
        >
          <mat-label>Data Nascimento</mat-label>
          <input
          [brmasker]="{mask: '00/00/0000', type: 'num', len:10}"
            required
            matInput
            placeholder="31/07/1997"
            formControlName="nascimento"
            type="text"
          />
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Sexo Condutor</mat-label>
          <mat-select formControlName="sexo">
            <mat-option value="1"> masculino </mat-option>
            <mat-option value="0"> feminino </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Estado Civil</mat-label>
          <mat-select formControlName="estadoCivil">
            <mat-option value="1"> Casado </mat-option>
            <mat-option value="0"> Solteiro </mat-option>
            <mat-option value="0"> Víuvo </mat-option>
            <mat-option value="0"> Solteiro </mat-option>
            <mat-option value="0"> Outros </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="row fixed-bottom p-3 bg-white">
          <div class="col d-flex justify-content-start">
            <button
              type="button"
              class="btn btn-link text-decoration-none"
              (click)="back(step)"
            >
              Voltar
            </button>
          </div>

          <div class="col d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-primary text-white"
              (click)="next(step)"
              [disabled]="this.condutorPrincipal.controls.estadoCivil.touched == false"            
              >
              Próximo
            </button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="step === 5">
      <div class="row">
        <div class="col">
          <p>Selecione as coberturas desejadas</p>
        </div>
      </div>
      <form class="pt-3" [formGroup]="coberturas">
        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Danos Morais/Estaticos</mat-label>
          <mat-select formControlName="danos_morais_esteticos">
            <mat-option value="1"> 5.000 </mat-option>
            <mat-option value="2"> 10.000 </mat-option>
            <mat-option value="3"> 15.000 </mat-option>
            <mat-option value="4"> 20.000 </mat-option>
            <mat-option value="5"> 25.000 </mat-option>
            <mat-option value="6"> 30.000 </mat-option>
            <mat-option value="7"> 40.000 </mat-option>
            <mat-option value="8"> 50.000 </mat-option>
            <mat-option value="9"> 60.000 </mat-option>
            <mat-option value="10"> 70.000 </mat-option>
            <mat-option value="11"> 80.000 </mat-option>
            <mat-option value="12"> 100.000 </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Danos Materiais</mat-label>
          <mat-select formControlName="danos_materiais">
            <mat-option value="1"> 50.000 </mat-option>
            <mat-option value="2"> 60.000 </mat-option>
            <mat-option value="3"> 80.000 </mat-option>
            <mat-option value="4"> 100.000 </mat-option>
            <mat-option value="5"> 150.000 </mat-option>
            <mat-option value="6"> 200.000 </mat-option>
            <mat-option value="7"> 250.000 </mat-option>
            <mat-option value="8"> 300.000 </mat-option>
            <mat-option value="9"> 400.000 </mat-option>
            <mat-option value="9"> 500.000 </mat-option>
            <mat-option value="10"> 700.000 </mat-option>
            <mat-option value="11"> 900.000 </mat-option>
            <mat-option value="12"> 1.000.000 </mat-option>
            <mat-option value="13"> 1.200.000 </mat-option>
            <mat-option value="14"> 1.400.000 </mat-option>
            <mat-option value="15"> 1.600.000 </mat-option>
            <mat-option value="16"> 1.800.000 </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker
          appearance="outline"
        >
          <mat-label>Danos Corporais</mat-label>
          <mat-select formControlName="danos_corporais">
            <mat-option value="1"> 50.000 </mat-option>
            <mat-option value="2"> 60.000 </mat-option>
            <mat-option value="3"> 80.000 </mat-option>
            <mat-option value="4"> 100.000 </mat-option>
            <mat-option value="5"> 150.000 </mat-option>
            <mat-option value="6"> 200.000 </mat-option>
            <mat-option value="7"> 250.000 </mat-option>
            <mat-option value="8"> 300.000 </mat-option>
            <mat-option value="9"> 400.000 </mat-option>
            <mat-option value="10"> 500.000 </mat-option>
            <mat-option value="11"> 700.000 </mat-option>
            <mat-option value="12"> 900.000 </mat-option>
            <mat-option value="13"> 1.000.000 </mat-option>
            <mat-option value="14"> 1.200.000 </mat-option>
            <mat-option value="15"> 1.400.000 </mat-option>
            <mat-option value="16"> 1.600.000 </mat-option>
            <mat-option value="17"> 1.800.000 </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Morte/invalidez por ocupante</mat-label>
          <input
          [brmasker]="{money: true, decimal: 2}"
            required
            matInput
            placeholder="5.000"
            formControlName="morte_invalidez_ocupante"
            type="text"
          />
        </mat-form-field>

        <div class="row fixed-bottom p-3">
          <div class="col d-flex justify-content-start">
            <button
              type="button"
              class="btn btn-link text-decoration-none"
              (click)="back(step)"
            >
              Voltar
            </button>
          </div>

          <div class="col d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-primary text-white"
              (click)="next(step)"
              [disabled]="this.coberturas.status == 'INVALID'"
            >
              Próximo
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Third Step -->
    <div *ngIf="step === 4">
      <form class="pt-3" [formGroup]="questionarioRisco">
        <div class="mt-2">
          <div class="col-12">
            <h6>
              Deseja cobertura para demais condutores residentes entre 18 até 25
              anos?
            </h6>
          </div>
          <mat-form-field
            floatLabel="auto"
            hideRequiredMarker
            appearance="outline"
          >
            <mat-select formControlName="menor_condutor">
              <mat-option value="1"> Sim </mat-option>
              <mat-option value="2"> Não </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-2">
          <div class="col-12">
            <h6>O veículo fica guardado em garagem fechada na Residência?</h6>
          </div>

          <mat-form-field
            floatLabel="auto"
            hideRequiredMarker
            appearance="outline"
          >
            <mat-select formControlName="garagem_casa">
              <mat-option value="1"> Sim </mat-option>
              <mat-option value="2"> Não </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-2">
          <div class="col-12">
            <h6>
              O veículo fica guardado em garagem e/ou estacionamento fechado no
              trabalho?
            </h6>
          </div>
          <mat-form-field
            floatLabel="auto"
            hideRequiredMarker
            appearance="outline"
          >
            <mat-select formControlName="garagem_servico">
              <mat-option value="1"> Sim </mat-option>
              <mat-option value="2"> Não </mat-option>
              <mat-option value="3">
                Não utiliza para ir ao trabalho
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-2">
          <div class="col-12">
            <h6>
              O veículo fica guardado em garagem e/ou estacionamento fechado na
              faculdade?
            </h6>
          </div>
          <mat-form-field
            floatLabel="auto"
            hideRequiredMarker
            appearance="outline"
          >
            <mat-select formControlName="garagem_escola">
              <mat-option value="1"> Sim </mat-option>
              <mat-option value="2"> Não </mat-option>
              <mat-option value="3">
                Não utiliza para ir ao trabalho
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row fixed-bottom p-3">
          <div class="col d-flex justify-content-start">
            <button
              type="button"
              class="btn btn-link text-decoration-none"
              (click)="back(step)"
            >
              Voltar
            </button>
          </div>

          <div class="col d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-primary text-white"
              (click)="next(step)"
            >
              Próximo
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Fourth Step -->
    <div class="mb-5" *ngIf="step === 6">
      <form class="pt-3" [formGroup]="coberturas2">
        <div class="mt-2">
          <div class="col-12">
            <h6>Limite de Guincho</h6>
          </div>
          <mat-form-field
            floatLabel="auto"
            hideRequiredMarker
            appearance="outline"
          >
            <mat-select formControlName="limite_guincho">
              <mat-option value="1"> 300Km </mat-option>
              <mat-option value="2"> 600Km </mat-option>
              <mat-option value="3"> 1200Km </mat-option>
              <mat-option value="4"> Ilimitado </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-2">
          <div class="col-12">
            <h6>Carro Reserva</h6>
          </div>

          <mat-form-field
            floatLabel="auto"
            hideRequiredMarker
            appearance="outline"
          >
            <mat-select formControlName="carro_reserva">
              <mat-option value="1"> Sem Carro Reserva </mat-option>
              <mat-option value="2"> 07 dias </mat-option>
              <mat-option value="3"> 15 dias </mat-option>
              <mat-option value="4"> 30 dias </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-2">
          <div class="col-12">
            <h6>Vidros</h6>
          </div>
          <mat-form-field
            floatLabel="auto"
            hideRequiredMarker
            appearance="outline"
          >
            <mat-select formControlName="vidros">
              <mat-option value="1"> basico </mat-option>
              <mat-option value="2"> medio </mat-option>
              <mat-option value="3"> superior </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row fixed-bottom p-3">
          <div class="col d-flex justify-content-start">
            <button
              type="button"
              class="btn btn-link text-decoration-none"
              (click)="back(step)"
            >
              Voltar
            </button>
          </div>

          <div class="col d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-primary text-white"
              (click)="next(step)"
              [disabled]="this.coberturas.status == 'INVALID'"
            >
              Próximo
            </button>
          </div>
        </div>
      </form>

      <!-- <div class="row mt-2">
                <div class="col-12">
                    <h6>Complementar</h6>
                </div>

                <div class="col-12">
                    <ul class="list-unstyled">
                        <li>
                            <mat-checkbox class="example-margin" color="primary">Higienização</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox class="example-margin" color="primary">Reparo Abaixo da Franquia
                            </mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox class="example-margin" color="primary">Teto Solar</mat-checkbox>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mt-2 pb-3">
                <div class="col-12">
                    <h6>Coberturas Adicionais</h6>
                </div>

                <div class="col-12">
                    <ul class="list-unstyled">
                        <li>
                            <mat-checkbox class="example-margin" color="primary">Despesas Extras</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox class="example-margin" color="primary">Extensão Soc Dir</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox class="example-margin" color="primary">Disp. Médicas Hospitalares
                            </mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox class="example-margin" color="primary">Extensão Perim Uru, Arg e Paraguai
                            </mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox class="example-margin" color="primary">Danos Morais</mat-checkbox>
                        </li>
                    </ul>
                </div>
            </div> -->

      <div class="row fixed-bottom p-3 bg-white">
        <div class="col d-flex justify-content-start">
          <button
            type="button"
            class="btn btn-link text-decoration-none"
            (click)="back(step)"
          >
            Voltar
          </button>
        </div>

        <div class="col d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-primary text-white"
            (click)="next(step)"
            [disabled]="this.coberturas2.controls.vidros.touched == false"
          >
            Solicitar
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="step === 7">
      <div class="row">
        <div class="col">
          <h5>Paglioni Seguros</h5>
        </div>
      </div>
      <div>
        <mat-card>
          <mat-card-title>Mapfre</mat-card-title>
          <div class="row">
            <div class="col">
              <mat-card-subtitle>Franquia Normal</mat-card-subtitle>
              <mat-card-content>{{this.mapfreValor}}</mat-card-content>
              <mat-card-content>6x s/ juros</mat-card-content>
            </div>
            <div class="col">
              <mat-card-subtitle>Franquia Reduzida</mat-card-subtitle>
              <mat-card-content>{{this.mapfreReduzida}}</mat-card-content>
              <mat-card-content>6x s/ juros</mat-card-content>
            </div>
            <div class="col">
              <button
                type="button"
                class="btn btn-primary text-white"
                (click)="bot()"
              >
                Calcular
              </button>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="pt-3">
        <mat-card>
          <mat-card-title>HDI</mat-card-title>
          <div class="row">
            <div class="col">
              <mat-card-subtitle>Franquia Reduzida</mat-card-subtitle>
              <mat-card-content>{{this.hdiReduzida}}</mat-card-content>
              <mat-card-content>6x s/ juros</mat-card-content>
            </div>
            <div class="col">
              <mat-card-subtitle>Franquia Reduzida</mat-card-subtitle>
              <mat-card-content>{{this.hdiReduzida}}</mat-card-content>
              <mat-card-content>6x s/ juros</mat-card-content>
            </div>
            <div class="col">
              <button
                type="button"
                class="btn btn-primary text-white"
                (click)="bot2()"
              >
                Calcular
              </button>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="row fixed-bottom p-3">
        <div class="d-flex justify-content-start">
          <button
            type="button"
            class="btn btn-link text-decoration-none"
            (click)="back(step)"
          >
            Voltar
          </button>
        </div>

        <div class="col d-flex justify-content-end">
          <button
            type="submit"
            class="btn btn-danger text-white"
            (click)="next(step)"
          >
            Sair
          </button>
        </div>
      </div>
    </div>

    <!-- Fourth Step -->
    <div *ngIf="step === 8">
      <div class="row">
        <div class="col">
          <h5>Sobre a Paglioni Seguros</h5>
        </div>
      </div>

      <form class="pt-3">
        <div class="row">
          <div class="col-12">
            <p class="text-secondary">
              A Paglioni Seguros é uma empresa que está buscando novas formas de
              se atualizar ao mercado, com isso criamos esta plataforma como
              meio de nossos clientes e não clientes poderem realizar orçamentos
              de seguros.
            </p>
            <p class="text-secondary">
              Após a confirmação de criação de conta você poderá entrar em nossa
              plataforma.
            </p>
          </div>

          <div class="col-12">
            <section class="example-section">
              <mat-checkbox color="primary" formControlName="terms" required
                >Estou de acordo
              </mat-checkbox>
            </section>
          </div>

          <div class="row fixed-bottom p-3">
            <div class="col d-flex justify-content-start">
              <button
                type="button"
                class="btn btn-link text-decoration-none"
                (click)="back(step)"
              >
                Voltar
              </button>
            </div>

            <div class="col d-flex justify-content-end">
              <button
                type="button"
                class="btn btn-primary text-white"
                (click)="next(step)"
              >
                Solicitar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
