<ion-buttons slot="start">
    <ion-back-button icon="chevron-back-outline" defaultHref="/welcome">
    </ion-back-button>
</ion-buttons>
<ion-content>

    <div class="container pt-3">
        <!-- First Step -->
        <div *ngIf="step === 1">
            <div class="row">
                <div class="col">
                    <h6>Qual o seu nome e sobrenome?</h6>
                </div>
            </div>

            <form class="pt-3" [formGroup]="firstStep">
                <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                    <mat-label>Nome Completo</mat-label>
                    <input required matInput placeholder="Nome" formControlName="nome" type="text">
                </mat-form-field>

                <div class="row fixed-bottom p-3">
                    <div class="col d-flex justify-content-start">
                        <button type="button" class="btn btn-link text-decoration-none"
                                (click)="back(step)">Voltar
                        </button>
                    </div>

                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-primary text-white"
                                (click)="next(step)">Próximo
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Second Step -->
        <div *ngIf="step === 2">
            <div class="row">
                <div class="col">
                    <h6>Qual o seu e-mail?</h6>
                </div>
            </div>

            <form class="pt-3" [formGroup]="firstStep">
                <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input required matInput placeholder="E-mail" formControlName="email" type="email">
                    <mat-hint align="start">
                        <p>Lembre-se de que o email não pode se repetir em outras contas.</p>
                    </mat-hint>
                </mat-form-field>

                <div class="row fixed-bottom p-3">
                    <div class="col d-flex justify-content-start">
                        <button type="button" class="btn btn-link text-decoration-none"
                                (click)="back(step)">Voltar
                        </button>
                    </div>

                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-primary text-white"
                                (click)="next(step)">Próximo
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Third Step -->
        <div *ngIf="step === 3">
            <div class="row">
                <div class="col">
                    <h6>Pode nos informar seu número de celular?</h6>
                </div>
            </div>

            <form class="pt-3" [formGroup]="firstStep">
                <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                    <mat-label>Celular</mat-label>
                    <input required matInput placeholder="Celular" mask="(00)00000-0000"
                           [dropSpecialCharacters]="false"
                           formControlName="cel" type="tel">
                    <mat-hint align="start">
                        <p>Em breve entraremos em contato por este número informado.</p>
                    </mat-hint>
                </mat-form-field>

                <div class="row fixed-bottom p-3">
                    <div class="col d-flex justify-content-start">
                        <button type="button" class="btn btn-link text-decoration-none"
                                (click)="back(step)">Voltar
                        </button>
                    </div>

                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-primary text-white"
                                (click)="next(step)">Próximo
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Fourth Step -->
        <div *ngIf="step === 4">
            <div class="row">
                <div class="col">
                    <h6>Pode definir uma senha?</h6>
                </div>
            </div>

            <form class="pt-3" [formGroup]="firstStep">
                <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input required matInput placeholder="Senha" formControlName="senha" type="password">
                    <mat-hint align="start">
                        <p>A senha é necessária para o login.</p>
                    </mat-hint>
                </mat-form-field>

                <div class="row fixed-bottom p-3">
                    <div class="col d-flex justify-content-start">
                        <button type="button" class="btn btn-link text-decoration-none"
                                (click)="back(step)">Voltar
                        </button>
                    </div>

                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-primary text-white" 
                                (click)="next(step)">Próximo
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ion-content>