<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/client-app/home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col">
                <p>De qual categoria deseja?</p>
            </div>
        </div>

        <form class="pt-3" [formGroup]="tipoSeguro">
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
                <mat-label>Selecione um Seguro</mat-label>
                <mat-select formControlName="tipo">
                    <mat-option value="1">
                        Seguro de Vida
                    </mat-option>
                    <mat-option value="2">
                        Seguro de Automóveis
                    </mat-option>
                    <mat-option value="3">
                        Seguro Residêncial
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="row fixed-bottom p-3" *ngIf="this.tipoSeguro.controls.tipo.value">
                <div class="col d-flex justify-content-end">
                    <button type="button" class="btn btn-primary text-white"
                            (click)="redirecionar()">Continuar
                    </button>
                </div>
            </div>

        </form>
    </div>
</ion-content>
